<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="./static/dropdown.css">
    <link rel="stylesheet"  type="text/css" href="./static/neww.css">
</head>
<body>
<div class="container">
  	<div class="row">

        <hr>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              District
            </button>
            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                <li class="dropdown-item"><a href="#">Ernakulam</a></li>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a tabindex="-1" href="#">Kochi</a></li>
                    <li class="dropdown-item"><a tabindex="-1" href="#">Kakkanad</a></li>
                    <li class="dropdown-item"><a tabindex="-1" href="#">kalamassery</a></li>
                    </ul>
                <li class="dropdown-item"><a href="#">Alappuzha</a></li>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a tabindex="-1" href="#">aroor</a></li>
                    <li class="dropdown-item"><a tabindex="-1" href="#">mararikulam</a></li>
                    <li class="dropdown-item"><a tabindex="-1" href="#"> azikode</a></li>
                    </ul>
                <li class="dropdown-item"><a href="#">thrissur</a></li>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a tabindex="-1" href="#">Koratty</a></li>
                    <li class="dropdown-item"><a tabindex="-1" href="#">Kodugaloor</a></li>
                    <li class="dropdown-item"><a tabindex="-1" href="#">kannur</a></li>
                    </ul>
            </ul>
        </div>
    </div>
</div>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Types
    </button>
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
        <li class="dropdown-item"><a href="#">Indoor</a></li>
        <ul class="dropdown-menu">
            <li class="dropdown-item"><a tabindex="-1" href="#">Chrysanthemum</a></li>
                    <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a tabindex="-1" href="#">1000</a></li>
                         <ul class="dropdown-menu">
            <li class="dropdown-item"><a tabindex="-1" href="#">Spider Plant</a></li>
                    <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a tabindex="-1" href="#">1000</a></li>
                         <ul class="dropdown-menu">
            <li class="dropdown-item"><a tabindex="-1" href="#">Ficus</a></li>
                    <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a tabindex="-1" href="#">1000</a></li>
                        </ul>
                             </ul>
                        </ul>
                             </ul>
                    </ul>
        </ul>
    </ul>
    <li class="dropdown-item"><a href="#">Outdoor</a></li>
        <ul class="dropdown-menu">
            <li class="dropdown-item"><a tabindex="-1" href="#">Hydrangea</a></li>
                    <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a tabindex="-1" href="#">1000</a></li>
                         <ul class="dropdown-menu">
            <li class="dropdown-item"><a tabindex="-1" href="#">Lemon Tree</a></li>
                    <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a tabindex="-1" href="#">1000</a></li>
                         <ul class="dropdown-menu">
            <li class="dropdown-item"><a tabindex="-1" href="#">Cordyline</a></li>
                    <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a tabindex="-1" href="#">1000</a></li>
                    </ul>
                         </ul>
                    </ul>
                         </ul>
                    </ul>
        </ul>

</div>
</body>
</html>
