<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  type="text/css" href="./static/msg.css">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="popup center">
    <div class="icon">
        <i class="fa fa-check"></i>

    </div>
    <div class="title">
        Your Order is Placed!!!

    </div>
    <div class="dismiss-btn">
        <button id="Submit-popup-btn">
            Submit
        </button>

    </div>
</div>
<div class="center">
    <button id="open-popup-btn">
        Logout
    </button>
</div>

</body>
</html>