*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;

text-transform:capitalize;
text-decoration:none;
}
body{
min-height:100vh;
background:url('bg.jpg')no-repeat;
background-size:cover;
background-position:center;

}

.ul li{
position:relatable;
float:left;
}
.ul li a{
font-size:20px;
padding:20px;
display:block;
}
.ul li a:hover{
background:#333;
color:#fff;
}

.ul li ul{
position:absolute;
left:0;
width:200px;
background:#fff;
}
.ul li ul li{
width:100%;
border-top:1px solid rgba(0,0,0,1);
}




}